body {font-size: 13px;}
.ds-none {display: none !important;}


.navbar {margin-bottom: 10px; min-height: 40px;}
.navbar-brand {height: 40px; padding: 10px 15px;}
.navbar-brand.version { font-size: 85%; padding: 11.3px 20px;}

.panel {margin-bottom: 10px;}

.panel.panel-tab {border-top: none ; border-top-right-radius:0; border-top-left-radius:0;}

#customers {display: table; width: 100%; margin: 0 0 10px 0;}
#customers li {width: 100%; float: left; clear: both; padding: 5px ;}
#customers li span.name {min-width: 18%;}
#customers li > span {float: left; font-size: 14px; font-weight: bold; float: left; display: block; margin: 5px 0;}
#customers li a {margin: 0 0 0 5px;}

#draft_customers td > span {float: left; font-size: 14px; font-weight: bold; float: left; display: block; margin: 5px 5px 5px 0;}
#draft_customers td .service {width: 10%;}
#draft_customers td .name {width: 35%;}
#draft_customers td .product {width: 20%;}
#draft_customers td .status {width: 10%;}
#draft_customers a {margin: 0 0 0 5px;} 

#draft label {margin-bottom: 2px;}

.row.device {margin-top: 10px;}
.row.device.first {margin-top: 0;}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn.copy-address {display: block;}
#service_title {float: right;}
#serviceAccess {float: right;}

/*  glyph icon check boxes */
input[type=checkbox].glyphicon:before {
  visibility: visible;
  color: #ccc;
}
input[type=checkbox].glyphicon.glyphicon-user:checked:before {
  color: #444;
}

input[type=checkbox].glyphicon {
    visibility: hidden;
}

input#auth_b {
  font-family: Verdana
}